---
import FeatureCard from "@components/FeatureCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const features = [
    {
        title: "Write once, run anywhere",
        description: "Vendetta works on both iOS and Android, meaning plugins and themes only have to be written once, and work everywhere! This makes the experience better for users, and developers!",
        src: "https://media.discordapp.net/attachments/1087835146151010324/1088942509696241704/C248ECB3-29B3-4397-97CC-1FD19C58C072.jpg?width=600&height=600",
    },
    {
        title: "Lightweight",
        description: "Vendetta doesn't do anything more than it needs to, ensuring compatibility with new Discord versions as they are released, and not slowing down the app.",
        src: "https://cdn.discordapp.com/attachments/928361155011969024/1089354566845349998/image.png",
    },
    {
        title: "Developer Experience",
        description: "Vendetta's robust API is simplistic and easy to use, making developing plugins a pleasant experience even for those who are inexperienced.",
        src: "https://media.discordapp.net/attachments/1015931590741872712/1089356893815844864/images_native_empties_empty_mentions.png",
    }
]
---

<BaseLayout title="Home">
    <div class="text-center my-18">
        <h1 class="sm:text-6xl lt-sm:text-5xl mb-4">The mod for <span class="color-transparent bg-gradient-to-r bg-clip-text from-oldblurple to-blurple">Discord</span>'s mobile apps.</h1>
        <p class="sm:text-2xl lt-sm:text-xl">Works on iOS and Android.</p>
    </div>
    <div class="flex flex-col gap-4 mb-4 w-full items-center">
        {features.map(feature => <FeatureCard title={feature.title} description={feature.description} src={feature.src} />)}
    </div>
    <p class="text-2xl">So, what are you waiting for? <a href="/install">Install today!</a></p>
</BaseLayout>