---
import Button from "@components/Button.astro";
import FeatureCard from "@components/FeatureCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const features = [
    {
        title: "Write once, run anywhere",
        description: "Vendetta works on both iOS and Android, meaning plugins and themes only have to be written once, and work everywhere! This makes the experience better for users, and developers!",
        icons: ["simple-icons:ios", "ic:baseline-android"],
    },
    {
        title: "Lightweight",
        description: "Vendetta doesn't do anything more than it needs to, ensuring compatibility with new Discord versions as they are released, and not slowing down the app.",
        icons: ["mdi:feather"],
    },
    {
        title: "Developer Experience",
        description: "Vendetta's robust API is simplistic and easy to use, making developing plugins a pleasant experience even for those who are inexperienced.",
        icons: ["ic:round-developer-mode"],
    }
]
---

<BaseLayout title="Home">
    <div class="flex flex-col gap-6">
        <div class="text-center mt-18">
            <h1 class="sm:text-6xl lt-sm:text-5xl mb-2">The mod for <span class="color-transparent bg-gradient-to-r bg-clip-text from-oldblurple to-blurple">Discord</span>'s mobile apps.</h1>
            <p class="sm:text-2xl lt-sm:text-xl">Works on iOS and Android.</p>
        </div>
        <div class="flex gap-2 justify-center">
            <Button icon="ic:outline-file-download" href="/install">Install</Button>
            <!-- <Button icon="simple-icons:discord" href="//discord.gg/n9QQ4XhhJP">Discord Server</Button> -->
        </div>
        <div class="flex flex-col gap-4 w-full items-center">
            {features.map(feature => <FeatureCard title={feature.title} description={feature.description} icons={feature.icons} />)}
        </div>
    </div>
</BaseLayout>