---
import { Icon } from "astro-icon";

export interface Props {
    icon?: string;
    href?: string;
}

const { icon, href } = Astro.props;
---

<a href={href} class="transition-colors block select-none cursor-pointer text-normal! text-center flex gap-2 items-center rounded-md w-fit p-2 bg-accent bg-opacity-10 hover:bg-opacity-5">
    {icon && <Icon name={icon} width={24} height={24} />}
    <slot />
</a>